<ion-header>
  <ion-toolbar>
    <ion-title>Liste des arrêts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="background-color: #3880ff; color: white; text-align: center; padding: 30px; font-weight: bold; font-size: 20px">
    Ligne {{item.name}}

  </div>

  <div style="text-align: center">
    <p style="text-align: center"> Départ</p>↓
  </div>

  <div *ngIf="stopName['length'] === 0; else elseBlock">
    <p style="text-align: center; margin-top: 20px">Pas de passage</p>
  </div>


  <ng-template #elseBlock>
    <div *ngFor="let item of stopName" style="text-align: center;">
<!--      <p id="trigger-button" (click)="loadDetails(item.code)" style="text-align: center; margin-top: 20px;-->
<!--      margin-left: auto; margin-right: auto; background-color: black; padding: 7px;-->
<!--      color: white; border-radius: 0.5em; width: 300px; ">-->
<!--        {{item.name}}-->
<!--      </p>-->
      <ion-button (click)="loadDetails(item.code)" style="width: 300px">{{item.name}}</ion-button>
      <br>↓
    </div>
    <p style="text-align: center">Arrivée</p>
<!--    <div *ngFor="let arr of arrival">-->
<!--      <p style="text-align: center; margin-top: 20px; margin-left: 10px; margin-right: 10px">{{arr}}</p>-->
<!--    </div>-->


<!--    <ion-button id="trigger-button">Click to open modal</ion-button>-->
<!--    <ion-modal trigger="trigger-button"-->
<!--               [breakpoints]="[0.1, 0.5, 1]"-->
<!--               [initialBreakpoint]="0.5"-->
<!--    >-->
<!--      <ng-template>-->
<!--        <ion-content>-->
<!--          <p style="text-align: center; margin-top: 30px">Prochain départ dans :</p>-->
<!--          <div style="text-align: center; margin-top: 5px;" *ngFor="let arr of arrival">-->
<!--            {{arr}} minute(s)-->
<!--          </div>-->
<!--        </ion-content>-->
<!--      </ng-template>-->
<!--    </ion-modal>-->



  </ng-template>

</ion-content>
