<div id="modal">
  <div>
    <ion-button style="width: 85px" (click)="loadProxi()"><ion-icon name="bus"></ion-icon></ion-button>
    <p>Bus/Tram</p>
  </div>
  <div>
    <ion-button style="width: 85px" (click)="loadPoints('citelib')"><ion-icon name="bicycle"></ion-icon></ion-button>
    <p>Vélo</p>
  </div>
  <div>
    <ion-button style="width: 85px" (click)="loadPoints('PKG')"> <ion-icon name="car"></ion-icon></ion-button>
    <p>Voiture</p>
  </div>
  <div>
    <ion-button style="width: 85px" (click)="loadPoints('bus')"><ion-icon name="star-outline"></ion-icon></ion-button>
    <p>Personalisé</p>
  </div>
</div>



<!--<ion-modal-->
<!--           [isOpen]="true"-->
<!--           [breakpoints]="[0.14, 0.25, 0.5]"-->
<!--           [initialBreakpoint]="0.14"-->

<!--&gt;-->
<!--  <ng-template>-->
<!--    <ion-content>-->

<!--      <div id="modal">-->
<!--        <ion-button style="width: auto" (click)="loadPoints('pointArret')"><ion-icon name="bus"></ion-icon></ion-button>-->
<!--        <ion-button style="width: auto" (click)="loadPoints('hamo')"><ion-icon name="bicycle"></ion-icon></ion-button>-->
<!--        <ion-button style="width: auto" (click)="loadPoints('bus')"> <ion-icon name="car"></ion-icon></ion-button>-->
<!--        <ion-button style="width: auto" (click)="loadPoints('bus')"><ion-icon name="star-outline"></ion-icon></ion-button>-->
<!--        <p>Bus/Tram</p><p>Vélo</p><p>Voiture</p><p>Personalisé</p>-->
<!--      </div>-->

<!--    </ion-content>-->
<!--  </ng-template>-->
<!--</ion-modal>-->
