<ion-header [translucent]="true" >
  <ion-toolbar id="toolbar">
    <ion-button slot="start" fill="clear">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-searchbar id="searchbar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="map">
    <ion-button id="refreshButton" (click)="refreshPosition()" color="dark" >
      <ion-icon name="locate"></ion-icon>
    </ion-button>

    <ion-button id="menu" color="dark" >
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-button>

    <ion-modal trigger="menu"
      [isOpen]="modalOpen"
               [breakpoints]="[0.15, 0.30, 0.5]"
               [initialBreakpoint]="0.15"
    >
      <ng-template>
        <ion-content>

        <div *ngFor="let item of interfaceInfo" style="text-align: center; margin-top: 30px; font-weight: bold">
          {{item.name}}<br>
          {{item.lines}}
        </div>

        </ion-content>
      </ng-template>
    </ion-modal>

  </div>

  <app-menu></app-menu>
</ion-content>
